<section class="">
  <!-- Footer -->
  <footer class="text-center text-white" style="background-color: #0a4275">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: CTA -->
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <a class="nav-link" [routerLink]="['/home']">Home</a>
        </p>
        <p class="d-flex justify-content-center align-items-center">
          <a class="nav-link" [routerLink]="['/diary']">Diary</a>
        </p>
        <p class="d-flex justify-content-center align-items-center">
          <a class="nav-link" [routerLink]="['/history']">History</a>
        </p>
      </section>
      <!-- Section: CTA -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2020 Copyright:
      <a class="text-white" href="https://khatabook.com/">khatabook.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>
