<section class="h-auto" style="background-color: #eee">
  <div class="container py-5 h-auto">
    <div class="row d-flex justify-content-center align-items-center h-auto">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <img
                    src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                    style="width: 185px"
                    alt="logo"
                  />
                  <h4 class="mt-1 mb-5 pb-1">We are The KhataBook Team</h4>
                </div>

                <form [formGroup]="signinform" (ngSubmit)="signin()">
                  <p>Create your account</p>

                  <div class="form-outline mb-1">
                    <label class="form-label" for="form2Example11"
                      >Username</label
                    >
                    <input
                      formControlName="uname"
                      type="text"
                      id="form2Example11"
                      class="form-control"
                      placeholder="Phone number or email address"
                    />
                    <label
                      class="form-label text-danger"
                      for="form2Example11"
                      *ngIf="
                        signinform.get('uname')?.dirty &&
                        signinform.get('uname')?.invalid
                      "
                      >*required</label
                    >
                  </div>

                  <div class="form-outline mb-1">
                    <label class="form-label" for="form2Example11">Email</label>
                    <input
                      formControlName="email"
                      type="email"
                      id="form2Example11"
                      class="form-control"
                      placeholder="Phone number or email address"
                    />
                    <label
                      class="form-label text-danger"
                      for="form2Example11"
                      *ngIf="
                        signinform.get('email')?.dirty &&
                        signinform.get('email')?.invalid
                      "
                      >*valid & required</label
                    >
                  </div>

                  <div class="form-outline mb-1">
                    <label class="form-label" for="form2Example22"
                      >Password</label
                    >
                    <input
                      formControlName="password"
                      type="password"
                      id="form2Example22"
                      class="form-control"
                    />
                    <label
                      class="text-danger"
                      for="form2Example11"
                      *ngIf="
                        signinform.get('password')?.dirty &&
                        signinform.get('password')?.invalid
                      "
                      >*required</label
                    >
                  </div>
                  <div class="form-outline mb-1">
                    <label class="form-label" for="form2Example22"
                      >Confirm Password</label
                    >
                    <input
                      formControlName="confirmpass"
                      type="password"
                      id="form2Example22"
                      class="form-control"
                    />
                    <label
                      class="text-danger"
                      for="form2Example11"
                      *ngIf="
                        signinform.get('confirmpass')?.dirty &&
                        signinform.get('confirmpass')?.invalid
                      "
                      >*required</label
                    >
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button
                      class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"
                      type="submit"
                      [disabled]="!signinform.valid"
                    >
                      Sign in
                    </button>
                  </div>

                  <div
                    class="d-flex align-items-center justify-content-center pb-4"
                  >
                    <p class="mb-0 me-2">Already have an account?</p>
                    <button type="button" class="btn btn-outline-danger">
                      <a [routerLink]="['/login']">LogIn</a>
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-1">We are more than just a company</h4>
                <p class="small mb-0">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
